$color: #3B81F2;

@media screen and (min-width: 1800px) {

}
@media screen and (min-width: 1500px){

}
@media screen and (max-width: 1500px){

}
@media screen and (max-width: 1199.98px){
	.main-menu a{
		font-size: 15px;
		padding-right: 10px;
		padding-left: 10px;
	}
}
@media screen and (max-width: 991.98px){
	.bars {
		width: 25px;
		height: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		visibility: visible;
		right: 0px;
		&:before {
			content: '';
			background-color: #222;
			width: 25px;
			height: 2px;
			position: absolute;
			margin-top: -10px;
		}
		&:after {
			content: '';
			background-color: #222;
			width: 25px;
			height: 2px;
			position: absolute;
			margin-top: 10px;
		}
	}
	.main-menu {
		position: fixed;
		max-width: 500px;
		width: 100%;
		background-color: #fff;
		height: 100%;
		top: 0;
		overflow-y: auto;
		ul {
			flex-direction: column;
			align-items: flex-start;
			padding-right: 15px;
			padding-left: 15px;
			margin-top: 45px;
		}
		li {
			width: 100%;
		}
		a {
			width: 100%;
			justify-content: flex-start;
		}
	}
	.exit {
		width: 25px;
		height: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		visibility: visible;
		top: 15px;
		right: 15px;
		&:before {
			content: '';
			background-color: #222;
			width: 25px;
			height: 2px;
			position: absolute;
			transform: rotate(45deg);
		}
		&:after {
			content: '';
			background-color: #222;
			width: 25px;
			height: 2px;
			position: absolute;
			transform: rotate(-45deg);
		}
	}
	.col-header {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	.main-menu a {
		height: 45px;
	}
	.admin-cat__item {
		width: calc(33% - 15px);
		font-size: 15px;
	}
	.main-menu a {
		&:hover {

		}
	}
}
@media screen and (max-width: 767.98px){
	.car-table__img {
		width: 100px;
		height: 66px;
	}
	.car-table td {
		height: 66px;
	}
	.car-table__th-img {
		width: 100px;
	}
	.car-table {
		font-size: 15px;
	}
	.car-table__th-id {
		width: 45px;
	}
	.admin-cat__item {
		width: calc(50% - 15px);
	}
    .pagination {
        .page-link {
            margin-right: 7px;
            width: 35px;
            height: 35px;
            font-size: 14px;
        }
    }
}
@media screen and (max-width: 575.98px){
	.car-table__th-id, .car-table__td-id {
		font-size: 13px;
		width: 35px;
	}
	.car-table__td-price {
		font-size: 13px;
		padding: 5px;
	}
	.car-table__td-name {
		padding: 5px;
		font-size: 14px;
		letter-spacing: -0.5px;
	}
	.car-table__th-name {
		width: 100%;
	}
	.car-table__th-price {
		width: 55px;
	}
	.car-table__img {
		width: 80px;
		height: 60px;
	}
	.car-table__th-img {
		width: 80px;
	}
	.add-new-btn {
		padding: 12px 18px;
		font-weight: 400;
	}
	.form-admin input[type=number] {
		margin-bottom: 5px;
	}
	.input-item {
		width: calc(50% - 15px);
	}
	.admin-car-price {
		font-size: 14px;
		width: 750px;
	}
	.admin-car-price__content button {
		font-size: 13px;
	}
	.form-admin {
		p {
			font-size: 14px;
		}
	}
	.admin-cat__item {
		width: 100%;
	}
	header {
		margin-bottom: 15px;
	}
    .pagination {
        flex-wrap: wrap;
        .page-link {
            margin-right: 4px;
            width: 32px;
            height: 32px;
            font-size: 13px;
            margin-bottom: 5px;
        }
    }
}
@media screen and (max-width: 400.98px){
}
@media screen and (max-width: 360px){
	.form-admin input {
		font-size: 13px;
	}
	.quad-input select {
		min-width: 120px;
	}
}
@media screen and (max-width: 320px) {
	.form-admin input[type=number] {
		width: 100%;
		max-width: 100%;
	}
	.quad-input {
		gap: 0px;
		.input-item {
			width: 100%;
		}
	}
}
